@charset "UTF-8";
/*動態 */
/*RWD */
/*動態*/
/*RWD*/
/*font-family*/
/*宋體*/
/* line 22, ../sass/_all.scss */
.lineline, .section-left.section-left .babyimg, .section-right .msearch {
  background-color: #ff0056;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #fb8eb2), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #fb8eb2), color-stop(0.75, #fb8eb2), color-stop(0.75, transparent), to(transparent));
  -webkit-background-size: 5px;
}

/* line 35, ../sass/_all.scss */
* {
  font-size: 14px;
  font-family: "Noto Sans TC","Microsoft JhengHei","Arial",sans-serif;
  font-weight: normal;
}

/* line 40, ../sass/_all.scss */
a {
  text-decoration: none !important;
}

@media screen and (min-width: 768px) {
  /*三層選單設定*/
  /* line 45, ../sass/_all.scss */
  .dropdown-submenu {
    position: relative;
  }

  /* line 46, ../sass/_all.scss */
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  /* line 47, ../sass/_all.scss */
  .dropdown-submenu > a:after {
    content: '';
    border-width: 0.4em;
    border-style: solid solid solid solid;
    border-color: transparent transparent transparent #fff;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-left: 0px;
    width: 0;
    height: 0;
  }

  /* line 59, ../sass/_all.scss */
  .dropdown-submenu.pull-left {
    float: none;
  }

  /* line 59, ../sass/_all.scss */
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  /* line 60, ../sass/_all.scss */
  .dropdown-submenu:hover > a:after {
    border-left-color: #555;
  }

  /* line 61, ../sass/_all.scss */
  .dropdown-menu > li:hover .sub-menu {
    visibility: visible;
  }

  /* line 62, ../sass/_all.scss */
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
/*end*/
@keyframes bomtt {
  from {
    transform: rotate(-30deg);
    transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  }
  50% {
    transform: rotate(30deg);
    transition: 0.3s 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  }
  to {
    transform: rotate(0deg);
    transition: transform 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  }
}
/* line 1, ../sass/_reset.scss */
.row_5.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_5.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 .col_02 > .mcol > div + div, .footer > .minner, .header > .minner, .row_5.col3 > .mrow, .row_5.col2 > .mrow, .row_4.col3 > .mrow, .row_4.col2 > .mrow, .row_3.col3 > .mrow, .row_3.col2 > .mrow, .row_2.col3 > .mrow, .row_2.col2 > .mrow, .row_1 > .mrow {
  max-width: 100%;
}

/*手機板padding*/
@media screen and (max-width: 767px) {
  /* line 6, ../sass/_reset.scss */
  .minner.minner {
    padding: 0;
  }
}
/*首頁*/
/* line 14, ../sass/_reset.scss */
.page_mobilehome .module-cgmenu {
  display: none;
}

/* line 19, ../sass/_reset.scss */
ul.navbar-nav {
  margin-top: 0;
}

/* line 22, ../sass/_reset.scss */
.header {
  box-shadow: none;
}

/* line 25, ../sass/_reset.scss */
.footer {
  padding: 0;
}

/* line 28, ../sass/_reset.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

/* line 33, ../sass/_reset.scss */
.go-pcurl, .module-minicart {
  display: none;
}

/*page-clean*/
/* line 39, ../sass/_reset.scss */
.module-detail .mpgdetail {
  padding: 0;
}

/* line 44, ../sass/_reset.scss */
.navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus, .navbar-nav > li > a:hover {
  border-color: transparent;
}

/* line 48, ../sass/_reset.scss */
.menu-wrapper-area, #wrap #main-nav, #wrap footer {
  display: none;
}

/* line 51, ../sass/_reset.scss */
.addauto {
  padding: 0;
  margin-bottom: 0;
}

/* line 59, ../sass/_reset.scss */
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  /* line 63, ../sass/_reset.scss */
  #wrap {
    padding-top: 0;
  }
}
/* line 67, ../sass/_reset.scss */
.module {
  margin-bottom: 0;
}

/* line 70, ../sass/_reset.scss */
.langbar {
  display: none;
}

/* line 73, ../sass/_reset.scss */
.row .col .mcol {
  margin: 0;
  padding: 0;
}

/* line 78, ../sass/_reset.scss */
.footer, .header {
  background: transparent;
}

@media screen and (max-width: 992px) {
  /* line 83, ../sass/_reset.scss */
  .row_0 .col_02.col_02 {
    width: 100%;
  }

  /* line 86, ../sass/_reset.scss */
  .row .col:last-child .mcol {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 90, ../sass/_reset.scss */
  .mrow {
    display: flex;
  }
}

/* line 1, ../sass/_index.scss */
body {
  background: url("/ezfiles/385/1385/img/2892/html-bg.jpg");
}

/* line 5, ../sass/_index.scss */
.container {
  max-width: 935px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 5, ../sass/_index.scss */
  .container {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* line 5, ../sass/_index.scss */
  .container {
    width: 100%;
  }
}

/* line 18, ../sass/_index.scss */
.navbar {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  /* line 21, ../sass/_index.scss */
  .navbar .navbar-header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 27, ../sass/_index.scss */
  .navbar .navbar-header .navbar-toggle {
    top: 2em;
  }
}
/* line 32, ../sass/_index.scss */
.navbar .navbar-brand.navbar-brand {
  display: block;
  padding: 0;
  height: auto;
  margin-left: 0;
}
/* line 37, ../sass/_index.scss */
.navbar .navbar-brand.navbar-brand img {
  width: 100%;
}
/* line 42, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse {
  width: calc(100% - 207px);
  padding: 0 2em;
}
@media screen and (min-width: 768px) {
  /* line 42, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse {
    display: inline-block !important;
  }
}
/* line 48, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
}
/* line 52, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li {
  width: 25%;
  padding-bottom: .3em;
}
/* line 55, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li > a {
  padding: 0;
  cursor: default;
}
/* line 58, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li > a span {
  display: block;
  text-align: center;
  line-height: 1.2em;
  color: #666;
  font-weight: 600;
  transition: 0.5s ease;
}
/* line 65, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li > a span:first-child {
  font-size: 10px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 73, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li > a:hover span:last-child, .navbar .navbar-collapse.navbar-collapse .nav > li > a:active span:last-child, .navbar .navbar-collapse.navbar-collapse .nav > li > a:focus span:last-child {
  font-size: 1.1em;
  transition: 0.5s ease;
}
/* line 80, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li .dropdown-menu {
  border: none;
  box-shadow: none;
  background: #aaa;
  width: auto;
  min-width: auto;
  padding: 0 0em;
  border-radius: 0.4em;
  margin-top: 0;
  left: 1.5em;
}
/* line 90, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li .dropdown-menu li {
  padding: .2em 0;
}
/* line 92, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li .dropdown-menu li a {
  border-right: 1px solid #fff;
  padding: 0px 1em;
  font-size: 0.9em;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}
/* line 99, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li .dropdown-menu li a:hover {
  background: transparent;
  color: yellow;
}
/* line 105, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li .dropdown-menu li:last-child a {
  border-right: none;
}
/* line 113, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li:hover:first-child a span:last-child {
  color: #ff0056;
}
/* line 118, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li:hover:nth-child(2) a span:last-child {
  color: #51bff0;
}
/* line 123, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li:hover:nth-child(3) a span:last-child {
  color: #73c22b;
}
/* line 128, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li:hover:nth-child(4) a span:last-child {
  color: #b44cc9;
}
/* line 133, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li:hover:nth-child(5) a span:last-child {
  color: #ff0056;
}
/* line 137, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li:hover .dropdown-menu {
  display: flex;
}
/* line 141, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li.line-icon a {
  display: block;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  transition: 0.5s ease;
  cursor: pointer;
}
/* line 148, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li.line-icon a img {
  width: 100%;
}
/* line 151, ../sass/_index.scss */
.navbar .navbar-collapse.navbar-collapse .nav > li.line-icon a:hover {
  opacity: .5;
}
@media screen and (max-width: 767px) {
  /* line 48, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav {
    margin-top: 1em;
  }
  /* line 160, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li a.dropdown-toggle span {
    margin-left: -.3em;
  }
  /* line 166, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li:hover .dropdown-menu {
    display: none;
  }
  /* line 172, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open:nth-of-type(1) span:last-child {
    color: #ff0056;
    font-size: 1.2em;
  }
  /* line 178, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open:nth-of-type(2) span:last-child {
    color: #51bff0;
    font-size: 1.2em;
  }
  /* line 184, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open:nth-of-type(3) span:last-child {
    color: #73c22b;
    font-size: 1.2em;
  }
  /* line 190, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open:nth-of-type(4) span:last-child {
    color: #b44cc9;
    font-size: 1.2em;
  }
  /* line 196, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open:nth-of-type(5) span:last-child {
    color: #ff0056;
    font-size: 1.2em;
  }
  /* line 201, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open .dropdown-menu {
    display: block;
    background: transparent;
  }
  /* line 204, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open .dropdown-menu li {
    text-align: center;
  }
  /* line 206, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse .nav li.open .dropdown-menu li a {
    color: #000;
  }
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* line 218, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse ul.nav {
    display: block;
  }
  /* line 220, ../sass/_index.scss */
  .navbar .navbar-collapse.navbar-collapse ul.nav li {
    width: 100%;
  }
}

/* line 229, ../sass/_index.scss */
.banner img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  /* line 236, ../sass/_index.scss */
  .minner.minner {
    padding: 0;
  }

  /* line 239, ../sass/_index.scss */
  .main.container {
    padding: 0;
  }
}
/* line 1, ../sass/_leftmenu.scss */
.col.col_01 {
  background: #fff4f8;
}

/* line 4, ../sass/_leftmenu.scss */
.row .col:first-child .mcol {
  margin-left: 0;
}

/* line 8, ../sass/_leftmenu.scss */
.section-left.section-left {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 3em;
}
@media screen and (max-width: 992px) {
  /* line 13, ../sass/_leftmenu.scss */
  .section-left.section-left .babyimg {
    border-radius: 0 8px 0 0;
    overflow: hidden;
  }
}
/* line 20, ../sass/_leftmenu.scss */
.section-left.section-left img {
  margin-top: -1em;
  width: 100%;
}
/* line 24, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu {
  padding: .3em;
}
/* line 26, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area {
  border-radius: 5px;
  border: 1px solid #ff0056;
  padding: .5em .5em .2em;
}
/* line 30, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area h1.left-title {
  margin: 0;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
}
/* line 37, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area h1.left-title span {
  font-size: 8px;
  text-transform: uppercase;
  color: #ccc;
  position: relative;
  top: 0.3em;
}
/* line 44, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area h1.left-title::before {
  content: '';
  display: inline-block;
  background: url("/ezfiles/385/1385/img/2892/letter.png") no-repeat;
  background-size: cover;
  width: 2em;
  height: 2em;
  margin-right: .2em;
}
/* line 54, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area ul {
  margin-top: .5em;
  padding-top: .5em;
  padding-bottom: .7em;
  padding-left: .5em;
  padding-right: .5em;
  border: 1px dashed #ff0056;
  border-radius: 5px;
  list-style-type: none;
  background: #fff;
}
/* line 64, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area ul li {
  margin: .5em 0;
  border-bottom: 1px solid #eee;
}
/* line 67, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area ul li:first-child {
  margin-top: 0;
}
/* line 70, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area ul li::before {
  content: '>';
  color: rgba(255, 0, 86, 0.3);
  padding-left: 1em;
  padding-right: .5em;
}
/* line 76, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area ul li a {
  color: #999;
  font-weight: 400;
}
/* line 79, ../sass/_leftmenu.scss */
.section-left.section-left .leftmenu .top-area ul li a:hover {
  color: red;
}
/* line 87, ../sass/_leftmenu.scss */
.section-left.section-left .fb {
  margin-top: 1em;
}
/* line 89, ../sass/_leftmenu.scss */
.section-left.section-left .fb iframe {
  display: flex;
  width: 200px;
  margin-left: 5px;
  align-items: center;
}
/* line 97, ../sass/_leftmenu.scss */
.section-left.section-left .left-button {
  display: none;
}
@media screen and (max-width: 992px) {
  /* line 8, ../sass/_leftmenu.scss */
  .section-left.section-left {
    position: fixed;
    width: 232px;
    top: 15%;
    z-index: 3;
    padding: 0 0 0 .5em;
    height: 80vh;
    transform: translateX(-232px);
    transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
    padding-left: 0;
    background: #ffe6ee;
    border: 2px solid #ff0056;
    border-radius: 10px;
  }
  /* line 112, ../sass/_leftmenu.scss */
  .section-left.section-left.show {
    transform: translateX(0);
  }
  /* line 115, ../sass/_leftmenu.scss */
  .section-left.section-left .fb {
    height: 280px;
    overflow: hidden;
  }
  /* line 119, ../sass/_leftmenu.scss */
  .section-left.section-left .fb iframe {
    width: 200px !important;
    height: 280px !important;
    margin-left: .7em;
    overflow: hidden;
  }
  /* line 127, ../sass/_leftmenu.scss */
  .section-left.section-left .left-button {
    cursor: pointer;
    position: absolute;
    right: -1.7em;
    height: 6em;
    font-size: 1.2em;
    top: 0;
    z-index: 5;
    width: 1.7em;
    background: #fff;
    border: 1px solid #ff0056;
    color: #fff;
    background: #ff0056;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5em;
  }
}
@media screen and (max-width: 767px) {
  /* line 8, ../sass/_leftmenu.scss */
  .section-left.section-left {
    transform: translateX(-232px);
  }
}
@media (min-width: 440px) and (max-width: 767px) {
  /* line 8, ../sass/_leftmenu.scss */
  .section-left.section-left {
    transform: translateX(-232px);
  }
}

/* line 1, ../sass/_right-content.sass */
.row_0 .col_02 {
  background: #fff;
}

/* line 3, ../sass/_right-content.sass */
.row .col:last-child .mcol {
  margin-right: 0;
}

/* line 6, ../sass/_right-content.sass */
.section-right {
  width: 100%;
  background: #fff;
}
/* line 10, ../sass/_right-content.sass */
.section-right .msearch {
  padding: 0.5em;
  margin-top: 0;
}
/* line 14, ../sass/_right-content.sass */
.section-right .msearch form {
  width: 15em;
}
/* line 16, ../sass/_right-content.sass */
.section-right .msearch form .input-group-btn {
  background: #fff;
  color: #ff0056;
}
/* line 22, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-3 {
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 22, ../sass/_right-content.sass */
  .section-right .row-eq-height.index-row .col-sm-3 {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 27, ../sass/_right-content.sass */
  .section-right .row-eq-height.index-row .col-sm-3 img {
    display: block;
    margin: 0 auto;
  }
}
/* line 30, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-9 {
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 30, ../sass/_right-content.sass */
  .section-right .row-eq-height.index-row .col-sm-9 {
    width: calc(100% - 248px);
  }
}
/* line 34, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-9 h2 {
  position: relative;
  z-index: 2;
  top: 0.5em;
}
/* line 38, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-9 h2, .section-right .row-eq-height.index-row .col-sm-9 span {
  font-size: xx-large;
  font-weight: normal;
  color: #666;
  @meida screen and (max-width:767px);
  font-size: 28px;
}
/* line 44, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-9 span {
  color: #ff0056;
}
/* line 46, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-9 img {
  margin-top: -4em;
  width: 100%;
}
/* line 49, ../sass/_right-content.sass */
.section-right .row-eq-height.index-row .col-sm-9 p {
  letter-spacing: 0.2em;
  line-height: 2em;
}
/* line 53, ../sass/_right-content.sass */
.section-right .row.index-row:last-child p {
  line-height: 2em;
}
/* line 55, ../sass/_right-content.sass */
.section-right .row.index-row:last-child img {
  margin-left: -2em;
}
@media screen and (max-width: 767px) {
  /* line 58, ../sass/_right-content.sass */
  .section-right .row.index-row:last-child img:first-child {
    width: 160%;
    margin: 0 auto 0 -2em;
  }
}
/* line 61, ../sass/_right-content.sass */
.section-right .row {
  padding: 0 1.5em;
}

/* line 2, ../sass/_foot.sass */
.foot {
  border-top: 3px solid #eee;
  padding-top: 5px;
  background: #fff;
}
/* line 6, ../sass/_foot.sass */
.foot .col-sm-3 {
  position: absolute;
  z-index: 0;
}
/* line 9, ../sass/_foot.sass */
.foot .col-sm-9 {
  width: 100%;
}
/* line 12, ../sass/_foot.sass */
.foot .col-sm-9 ul {
  border-bottom: 1px solid #eee;
  padding-left: 25%;
  padding-bottom: 5px;
}
/* line 16, ../sass/_foot.sass */
.foot .col-sm-9 ul li a {
  color: #666;
  font-size: 12px;
  border-right: 2px solid #ccc;
  padding: 0 0.5em;
}
/* line 21, ../sass/_foot.sass */
.foot .col-sm-9 ul li {
  padding: 0;
}
/* line 23, ../sass/_foot.sass */
.foot .col-sm-9 ul li:last-child a {
  border-right: none;
}
/* line 25, ../sass/_foot.sass */
.foot .col-sm-9 p {
  padding-left: 25%;
}
/* line 27, ../sass/_foot.sass */
.foot .col-sm-9 p, .foot .col-sm-9 p span, .foot .col-sm-9 p a {
  font-size: 12px;
  color: #333;
}
@media screen and (max-width: 992px) {
  /* line 31, ../sass/_foot.sass */
  .foot .col-sm-3 {
    display: none;
  }
  /* line 33, ../sass/_foot.sass */
  .foot .col-sm-9 {
    width: 100%;
  }
  /* line 35, ../sass/_foot.sass */
  .foot .col-sm-9 ul, .foot .col-sm-9 p {
    padding-left: 0;
    text-align: center;
  }
}

/* line 2, ../sass/_page.sass */
.banner .mpgtitle {
  background: none;
  border-left: none;
  background: url("/ezfiles/385/1385/img/2892/title-bg.png") no-repeat;
  margin-bottom: 3em;
}
/* line 7, ../sass/_page.sass */
.banner .mpgtitle h3 {
  padding: 0 1em;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  height: 50px;
}
/* line 13, ../sass/_page.sass */
.banner .mpgtitle h3::before {
  content: "";
  width: 1.7em;
  height: 1.7em;
  background: url("/ezfiles/385/1385/img/2892/title-icon.png") no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 1em;
  position: relative;
  top: -0.2em;
}

/* line 25, ../sass/_page.sass */
.service-1 {
  background: url("/ezfiles/385/1385/img/2892/aboutus-pic-1-1.png") no-repeat;
  background-size: cover;
  height: 28em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* line 34, ../sass/_page.sass */
.service-1 .col-xs-12 {
  width: 100%;
  text-align: center;
}
/* line 37, ../sass/_page.sass */
.service-1 .col-xs-12 h4.title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
/* line 40, ../sass/_page.sass */
.service-1 .col-xs-12 p {
  font-size: 1.2em;
  margin-bottom: 1em;
  line-height: 2em;
}

/* line 45, ../sass/_page.sass */
.service-2 {
  background: url("/ezfiles/385/1385/img/2892/aboutus-pic-2-1.jpg") no-repeat;
  background-size: cover;
  height: 28em;
  width: 100%;
}
/* line 50, ../sass/_page.sass */
.service-2 .green {
  color: green;
}
/* line 52, ../sass/_page.sass */
.service-2 .orange {
  color: #ff8d00;
}
/* line 54, ../sass/_page.sass */
.service-2 .black {
  color: #000;
}
/* line 56, ../sass/_page.sass */
.service-2 p {
  line-height: 2em;
}

/* line 58, ../sass/_page.sass */
.service-3 {
  padding: 0 1em;
}
/* line 60, ../sass/_page.sass */
.service-3 h1.title {
  font-size: 1.5em;
  color: #ff0056;
  margin-top: 5em;
}

/* line 67, ../sass/_page.sass */
.page-teaching ul li a {
  border-radius: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background: #eee;
  color: #666;
  border-color: #aaa;
  border-width: 0.5px 1px 0px 1px;
  border-style: solid;
}
/* line 77, ../sass/_page.sass */
.page-teaching ul li.active a, .page-teaching ul li:hover a, .page-teaching ul li:active a, .page-teaching ul li:focus a {
  color: #FF6600;
  background: transparent;
  border-color: #aaa #aaa #fff #aaa;
}

/* line 82, ../sass/_page.sass */
.pic-wall {
  background: url("/ezfiles/385/1385/img/2892/gallery-bg.jpg") no-repeat;
  background-size: 100%;
  padding-bottom: 5em;
  padding-top: 4em;
}
/* line 87, ../sass/_page.sass */
.pic-wall h6 {
  width: 150px;
  margin: 0 auto;
  margin-top: 0.5em;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #ff7600;
}
/* line 94, ../sass/_page.sass */
.pic-wall img {
  width: 150px;
  height: 300px;
  max-height: 120px;
  transition: 3s ease;
}
/* line 99, ../sass/_page.sass */
.pic-wall a {
  position: relative;
}
/* line 103, ../sass/_page.sass */
.pic-wall a:hover img {
  transform: scale(0.9);
}

/* line 106, ../sass/_page.sass */
.gallery .col-sm-4 {
  background: url("/ezfiles/385/1385/img/2892/gallery-lightbox-bg.png") no-repeat;
  background-size: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: cneter;
}
/* line 114, ../sass/_page.sass */
.gallery .col-sm-4 a {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border-radius: 0 18px 0px 0;
  overflow: hidden;
  transform: rotate(-5deg);
  display: block;
}
/* line 122, ../sass/_page.sass */
.gallery .col-sm-4 a img {
  transition: 3s ease;
}
/* line 125, ../sass/_page.sass */
.gallery .col-sm-4 a:hover img {
  transform: scale(1.1);
}

/* line 128, ../sass/_page.sass */
.pae-form .banner .mpgtitle {
  padding: 0 1em;
}

/* line 130, ../sass/_page.sass */
.module-form .formBS {
  border: none;
  width: 80%;
  min-width: 300px;
  display: block;
  margin: 0 auto;
}
/* line 136, ../sass/_page.sass */
.module-form .formBS .form-group {
  padding-bottom: 0;
  margin-bottom: 0em;
  border: none;
  border-bottom: 1px dashed #aaa;
}
/* line 141, ../sass/_page.sass */
.module-form .formBS .form-group [class*="col-"]:first-child {
  border: none;
}
/* line 143, ../sass/_page.sass */
.module-form .formBS .form-group [class*="col-"] {
  border: none;
}
/* line 145, ../sass/_page.sass */
.module-form .formBS .form-group .col-sm-3 {
  text-align: right;
  background: #eee;
  padding-top: 0.4em;
  margin-top: 0em;
  height: 2.5em;
}
/* line 151, ../sass/_page.sass */
.module-form .formBS .form-group .col-sm-9 {
  padding: 0 1em;
}
/* line 153, ../sass/_page.sass */
.module-form .formBS .form-group input {
  margin-left: 1em;
  border-radius: 0;
  height: 2em;
  margin-top: 0.3em;
  width: 90%;
}

/* line 159, ../sass/_page.sass */
.form-btn .btn {
  border-color: #ff0056;
  color: #ff0056;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  position: relative;
  overflow: hidden;
  z-index: 2;
}
/* line 166, ../sass/_page.sass */
.form-btn .btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #ff0056;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  z-index: -1;
}
/* line 177, ../sass/_page.sass */
.form-btn .btn:hover {
  color: #fff;
  background: transparent;
}
/* line 180, ../sass/_page.sass */
.form-btn .btn:hover::after {
  left: 0;
}

@media screen and (max-width: 767px) {
  /* line 3, ../sass/_media.sass */
  .module.module-misc {
    display: none;
  }

  /* line 5, ../sass/_media.sass */
  .col-sm-9 .banner, .page-form .banner {
    overflow: hidden;
    position: relative;
  }
  /* line 8, ../sass/_media.sass */
  .col-sm-9 .banner img, .page-form .banner img {
    width: 630px;
    margin-left: -2em;
    max-width: inherit;
  }
  /* line 12, ../sass/_media.sass */
  .col-sm-9 .banner .mpgtitle, .page-form .banner .mpgtitle {
    margin-top: -2em;
    position: relative;
    z-index: 2;
    background: none;
    border-radius: 1em;
    border: 1.5px dashed #ccc;
    margin-bottom: 1em;
  }
  /* line 20, ../sass/_media.sass */
  .col-sm-9 .banner .mpgtitle h3, .page-form .banner .mpgtitle h3 {
    height: auto;
    padding: 0.5em 1em;
  }

  /* line 23, ../sass/_media.sass */
  .service-1 {
    background: none;
    display: block;
    height: auto;
  }
  /* line 28, ../sass/_media.sass */
  .service-1 .col-xs-12::after {
    content: "";
    background: url("/ezfiles/385/1385/img/2892/aboutus-pic-1-1.png") no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 30vh;
  }

  /* line 35, ../sass/_media.sass */
  .service-2 {
    background: none;
    height: auto;
  }
  /* line 38, ../sass/_media.sass */
  .service-2 .col-xs-8 {
    width: 100%;
  }
  /* line 40, ../sass/_media.sass */
  .service-2 .col-xs-8::after {
    content: "";
    background: url("/ezfiles/385/1385/img/2892/aboutus-pic-2-1.jpg") no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 30vh;
  }

  /* line 47, ../sass/_media.sass */
  .service-3 {
    margin-bottom: 1em;
  }
  /* line 49, ../sass/_media.sass */
  .service-3 h1.title {
    margin-top: 1em;
  }

  /* line 51, ../sass/_media.sass */
  .pic-wall {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
  }
  /* line 55, ../sass/_media.sass */
  .pic-wall .col-sm-4 {
    display: block;
    width: 100%;
    height: auto;
    padding: 1em;
    box-shadow: 2px 0px 2px -1px #333;
    margin-bottom: 2em;
    border: 1px solid #ccc;
  }
  /* line 63, ../sass/_media.sass */
  .pic-wall .col-sm-4 img {
    width: 100%;
    height: auto;
    max-height: inherit;
  }
  /* line 67, ../sass/_media.sass */
  .pic-wall h6 {
    width: auto;
  }

  /* line 69, ../sass/_media.sass */
  .featherlight {
    padding: 0 1em 0 5px;
  }
  /* line 71, ../sass/_media.sass */
  .featherlight .featherlight-content {
    margin: 0;
    padding: 10px;
  }

  /* line 75, ../sass/_media.sass */
  .gallery .col-sm-4 {
    height: auto;
    margin-bottom: 3em;
    background-size: cover;
  }
  /* line 79, ../sass/_media.sass */
  .gallery .col-sm-4 a {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  /* line 85, ../sass/_media.sass */
  .gallery .col-sm-4 img {
    width: 90%;
    padding: 2em;
  }

  /* line 88, ../sass/_media.sass */
  .page-form {
    padding: 0 1em;
  }
  /* line 90, ../sass/_media.sass */
  .page-form .form-group.form-group.form-group {
    margin-bottom: 1em;
  }
  /* line 92, ../sass/_media.sass */
  .page-form label.col-sm-3.col-sm-3.col-sm-3 {
    width: 100%;
    text-align: left;
    padding-left: 1em;
    margin-bottom: 0;
  }
  /* line 97, ../sass/_media.sass */
  .page-form .col-sm-9.col-sm-9.col-sm-9 {
    padding: 0;
  }
  /* line 99, ../sass/_media.sass */
  .page-form .col-sm-9.col-sm-9.col-sm-9 input {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
}

/*# sourceMappingURL=usercss.css.map */
