// 主色系設定
$color-1:rgba(255, 0, 86, 1);
$color-1-2:rgba(251, 142, 178, 1);
$color-2:rgba(81, 191, 240, 1);
$color-3:rgba(115, 194, 43, 1);
$color-4:rgba(180, 76, 201, 1);
$color-n:transparent;
/*動態*/
$transition-1:.5s ease;
$transition-2:.6s cubic-bezier(0.81, 0.26, 0, 0.93);
/*RWD*/
$mobile:"screen and (max-width:767px)";
$pad:" (min-width:768px) and (max-width:991px)";
$mini-pc:" (min-width: 992px) and (max-width: 1199px)";
$pad-pc:"(min-width:768px) and (max-width:1199px)";

/*font-family*/
/*宋體*/
$fm-1:"STSong","LiSong Pro Light","SimSun","NSimSun","sans-serif";

// 條紋
.lineline{
background-color: $color-1;
background-image: 
-webkit-gradient(linear, 0 0, 100% 100%,
  color-stop(.25,$color-1-2), 
  color-stop(.25, transparent),
  color-stop(.5, transparent), 
  color-stop(.5, $color-1-2),
  color-stop(.75, $color-1-2), 
  color-stop(.75, transparent),
  to(transparent));
        -webkit-background-size: 5px;
}
*{
font-size: 14px;
font-family: "Noto Sans TC","Microsoft JhengHei","Arial",sans-serif;
font-weight: normal;
}
a{
text-decoration:none!important;
}
@media screen and (min-width: 768px){
/*三層選單設定*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{
content:'';
border-width:0.4em;
border-style:solid solid solid solid;
border-color:transparent transparent transparent #fff;
display:inline-block;
float:right;
margin-top:6px;
margin-left: 0px;
width: 0;
height: 0;
}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-menu >li:hover .sub-menu {visibility: visible;}
.dropdown:hover >.dropdown-menu {display: block;}
}
/*end*/
//動畫ㄉㄨㄞ
@keyframes bomtt{
from{
transform:rotate(-30deg);
transition:$transition-2;
}
50%{
transform:rotate(30deg);
transition:.3s $transition-2;
}
to{
transform:rotate(0deg);
transition:transform $transition-2;
}
}

