// footer
.foot
	border-top: 3px solid #eee
	padding-top: 5px
	background: #fff
	.col-sm-3
		position: absolute
		z-index: 0
	.col-sm-9
		width: 100%
		// padding-left: 25%
		ul
			border-bottom: 1px solid #eee
			padding-left: 25%
			padding-bottom: 5px
			li a
				color: #666
				font-size: 12px
				border-right: 2px solid #ccc
				padding: 0 .5em
			li
				padding: 0
				&:last-child a
					border-right: none
		p
			padding-left: 25%
		p,p span,p a
			font-size: 12px
			color: #333
	@media screen and (max-width: 992px)
		.col-sm-3
			display: none
		.col-sm-9
			width: 100%
			ul,p
				padding-left: 0
				text-align: center
