body{
    background: url('/ezfiles/385/1385/img/2892/html-bg.jpg');
}
// 首頁
.container{
    max-width: 935px;
    padding-right: 0;
    padding-left: 0;
    @media #{$pad-pc} {
        max-width: 100%;
        width: 100%;
    }
    @media #{$mobile} {
        width: 100%;
    }
}
// 頭部選單
.navbar{
    margin-bottom: 0;
    // logo
    .navbar-header{
        @media #{$mobile} {
            margin:0;
            display:flex;
            align-items:center;
            justify-content:center;
            .navbar-toggle{
                top:2em;
            }
        }
    }
    .navbar-brand.navbar-brand{
        display:block;
        padding:0;
        height: auto;
        margin-left: 0;
        img{
            width: 100%;
        }
    }
    // menu
    .navbar-collapse.navbar-collapse{
        @media screen and (min-width:768px) {
            display:inline-block!important;
        }
        width: calc(100% - 207px);
        padding:0 2em;
        .nav{
            width: 100%;
            margin-top: 1.5em;
            display:flex;
            >li{
                width: 25%;
                padding-bottom: .3em;
                >a{
                    padding:0;
                    cursor: default;
                    span{
                        display:block;
                        text-align:center;
                        line-height:1.2em;
                        color:#666;
                        font-weight: 600;
                        transition:$transition-1;
                        &:first-child{
                            font-size: 10px;
                            color:#ccc;
                            text-transform:uppercase;
                            font-weight: normal;
                        }
                    }
                    &:hover,&:active,&:focus{
                        span:last-child{
                            font-size: 1.1em;
                            transition:$transition-1;
                        }
                    }
                }
                // sub-menu
                .dropdown-menu{
                    border:none;
                    box-shadow:none;
                    background: #aaa;
                    width: auto;
                    min-width:auto;
                    padding:0 0em;
                    border-radius:0.4em;
                    margin-top: 0;
                    left:1.5em;
                    li{
                        padding:.2em 0;
                        a{
                            border-right: 1px solid #fff;
                            padding:0px 1em;
                            font-size: 0.9em;
                            color:#fff;
                            white-space: nowrap;
                            cursor: pointer;
                            &:hover{
                                background: transparent;
                                color:yellow;
                            }
                        }
                        &:last-child{
                            a{
                                border-right: none;
                            }
                        }
                    }
                }
                &:hover{
                    &:first-child{
                        a span:last-child{
                            color:$color-1;
                        }
                    }
                    &:nth-child(2){
                        a span:last-child{
                            color:$color-2;
                        }
                    }
                    &:nth-child(3){
                        a span:last-child{
                            color:$color-3;
                        }
                    }
                    &:nth-child(4){
                        a span:last-child{
                            color:$color-4;
                        }
                    }
                    &:nth-child(5){
                        a span:last-child{
                            color:$color-1;
                        }
                    }
                    .dropdown-menu{
                        display:flex;
                    }
                }
                &.line-icon a{
                    display:block;
                    width: 3em;
                    height: 3em;
                    margin: 0 auto;
                    transition: $transition-1;
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                    &:hover{
                        opacity: .5;
                    }
                }
            }
            @media #{$mobile} {
                margin-top: 1em;
                li{
                    a.dropdown-toggle{
                        span{
                            margin-left: -.3em;
                        }
                    }
                }
                li:hover{
                    .dropdown-menu{
                        display:none;
                    }
                }
                li.open{
                    &:nth-of-type(1){
                        span:last-child{
                            color: $color-1;
                            font-size: 1.2em;
                        }
                    }
                    &:nth-of-type(2){
                        span:last-child{
                            color: $color-2;
                            font-size: 1.2em;
                        }
                    }
                    &:nth-of-type(3){
                        span:last-child{
                            color: $color-3;
                            font-size: 1.2em;
                        }
                    }
                    &:nth-of-type(4){
                        span:last-child{
                            color: $color-4;
                            font-size: 1.2em;
                        }
                    }
                    &:nth-of-type(5){
                        span:last-child{
                            color: $color-1;
                            font-size: 1.2em;
                        }
                    }
                    .dropdown-menu{
                        display:block;
                        background: transparent;
                        li{
                            text-align:center;
                            a{
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        @media #{$mobile} {
            width: 100%;
            padding: 0;
            margin:0;
            ul.nav{
                display:block;
                li{
                    width: 100%;
                }
            }
        }
    }
}
// banner
.banner{
    img{
        width: 100%;
    }
}

// 平板尺寸
@media screen and (max-width:992px) {
    .minner.minner{
        padding:0;
    }
    .main.container{
        padding:0;
    }
}