.col.col_01{
	background: #fff4f8;
}
.row .col:first-child .mcol{
    margin-left: 0;
}
// 左側選單
.section-left.section-left{
    width: 100%;
    position:relative;
    z-index: 2;
    padding-bottom: 3em;
    .babyimg{
        @extend .lineline;
        @media screen and (max-width:992px) {
            border-radius: 0 8px 0 0;
            overflow: hidden;
        }
    }
    img{
        margin-top: -1em;
        width: 100%;
    }
    .leftmenu{
    	padding:.3em;
    	.top-area{
    		border-radius:5px;
    		border:1px solid $color-1;
    		padding:.5em .5em .2em;
    		h1.left-title{
    			margin:0;
    			font-size: 1.3em;
    			display:flex;
    			align-items:center;
    			position:relative;
                font-weight: 600;
    			span{
    				font-size: 8px;
    				text-transform:uppercase;
    				color:#ccc;
    				position: relative;
                    top:0.3em;
    			}
    			&::before{
					content:'';
					display:inline-block;
					background: url('/ezfiles/385/1385/img/2892/letter.png') no-repeat;
					background-size: cover;
					width: 2em;
					height: 2em;
					margin-right: .2em;
    			}
    		}
    		ul{
    			margin-top: .5em;
				padding-top: .5em;
				padding-bottom: .7em;
				padding-left: .5em;
                padding-right: .5em;
				border:1px dashed $color-1;    			
				border-radius:5px;
				list-style-type:none;
                background: #fff;
				li{
					margin:.5em 0;
                    border-bottom: 1px solid #eee;
					&:first-child{
						margin-top: 0;
					}
					&::before{
						content:'>';
						color:rgba(255, 0, 86, .3);;
						padding-left: 1em;
						padding-right: .5em;
					}
					a{
						color:#999;
                        font-weight: 400;
                        &:hover{
                            color:red;
                        }
					}
				}
    		}
    	}
    }
    .fb{
        margin-top: 1em;
        iframe{
            display:flex;
            width: 200px;
            margin-left: 5px;
            align-items:center;

        }
    }
    .left-button{
        display:none;
    }
    // 平板以下左側
    @media screen and (max-width:992px) {
        position:fixed;
        width: 232px;
        top:15%;
        z-index: 3;
        padding:0 0 0 .5em;
        height: 80vh;
        transform: translateX(-232px);
        transition:$transition-2;
        padding-left: 0;
        background: lighten($color-1, 45%);
        &.show{
            transform: translateX(0);
        }
        .fb{
            height: 280px;
            overflow: hidden;
        }
        .fb iframe{
            width: 200px !important;
            height: 280px !important;
            margin-left: .7em;
            overflow:hidden;
        }
        border:2px solid $color-1;
        border-radius: 10px;
        .left-button{
            cursor: pointer;
            position:absolute;
            right: -1.7em;
            height: 6em;
            font-size: 1.2em;
            top:0;
            z-index: 5;
            width: 1.7em;
            background: #fff;
            border:1px solid $color-1;
            color:#fff;
            background: $color-1;
            border-radius:5px;
            display:flex;
            align-items: center;
            justify-content: center;
            padding:0 .5em;
        }
    }
    @media #{$mobile} {
        transform: translateX(-232px);
    }
    @media (min-width: 440px) and (max-width: 767px){
        transform: translateX(-232px);
    }
}