// RWD
@media #{$mobile} 
	.module.module-misc
		display: none
	.col-sm-9 .banner,.page-form .banner
		overflow: hidden
		position: relative
		img
			width: 630px
			margin-left: -2em
			max-width: inherit
		.mpgtitle
			margin-top: -2em
			position: relative
			z-index: 2
			background: none
			border-radius: 1em
			border: 1.5px dashed #ccc
			margin-bottom: 1em
			h3
				height: auto
				padding: .5em 1em
	.service-1
		background: none
		display: block
		height: auto
		.col-xs-12
			&::after
				content: ''
				background: url("/ezfiles/385/1385/img/2892/aboutus-pic-1-1.png") no-repeat
				background-size: cover
				display: block
				width: 100%
				height: 30vh
	.service-2
		background: none
		height: auto
		.col-xs-8
			width: 100%
			&::after
				content: ''
				background: url("/ezfiles/385/1385/img/2892/aboutus-pic-2-1.jpg") no-repeat
				background-size: cover
				display: block
				width: 100%
				height: 30vh
	.service-3
		margin-bottom: 1em
		h1.title
			margin-top: 1em
	.pic-wall
		padding-top: 0
		padding-bottom: 0
		background: none
		.col-sm-4
			display: block
			width: 100%
			height: auto
			padding: 1em
			box-shadow: 2px 0px 2px -1px #333
			margin-bottom: 2em
			border: 1px solid #ccc
			img
				width: 100%
				height: auto
				max-height: inherit
		h6
			width: auto
	.featherlight
		padding: 0 1em 0 5px
		.featherlight-content
			margin: 0
			padding: 10px
	.gallery
		.col-sm-4
			height: auto
			margin-bottom: 3em
			background-size: cover
			a
				display: block
				width: 100%
				height: auto
				padding-top: 10%
				padding-bottom: 10%
			img
				width: 90%
				padding: 2em
	.page-form
		padding: 0 1em
		.form-group.form-group.form-group
			margin-bottom: 1em
		label.col-sm-3.col-sm-3.col-sm-3
			width: 100%
			text-align: left
			padding-left: 1em
			margin-bottom: 0
		.col-sm-9.col-sm-9.col-sm-9
			padding: 0
			input
				width: 100%
				margin-left: 0
				margin-top: 0


			
