// 內頁
.banner .mpgtitle 
	background: none
	border-left: none
	background: url('/ezfiles/385/1385/img/2892/title-bg.png')no-repeat	
	margin-bottom: 3em
	h3
		padding: 0 1em
		display: flex
		align-items: center
		font-size: 1.2em
		height: 50px
		&::before
			content: ''
			width: 1.7em
			height: 1.7em
			background: url('/ezfiles/385/1385/img/2892/title-icon.png')no-repeat
			background-size: cover
			display: inline-block
			margin-right: 1em
			position: relative
			top: -.2em

// 服務項目
.service-1
	background: url('/ezfiles/385/1385/img/2892/aboutus-pic-1-1.png') no-repeat
	background-size: cover
	height: 28em
	width: 100%
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	.col-xs-12
		width: 100%
		text-align: center
		h4.title
			font-size: 1.5em
			margin-bottom: 1em
		p
			font-size: 1.2em
			margin-bottom: 1em
			line-height: 2em
// 經營理念
.service-2
	background: url('/ezfiles/385/1385/img/2892/aboutus-pic-2-1.jpg') no-repeat
	background-size: cover
	height: 28em
	width: 100%
	.green
		color: green
	.orange
		color: #ff8d00
	.black
		color: #000
	p
		line-height: 2em
.service-3
	padding: 0 1em
	h1.title
		font-size: 1.5em
		color: $color-1
		margin-top: 5em
.page-teaching
	ul
		li
			a
				border-radius: 0
				padding-top: .2em
				padding-bottom: .2em
				background: #eee
				color: #666
				border-color: #aaa
				border-width: .5px 1px 0px 1px 
				border-style: solid
		li.active,li:hover,li:active,li:focus
			a
				color: #FF6600
				background: transparent
				border-color: #aaa #aaa #fff #aaa

.pic-wall
	background: url('/ezfiles/385/1385/img/2892/gallery-bg.jpg') no-repeat
	background-size: 100%
	padding-bottom: 5em
	padding-top: 4em
	h6
		width: 150px
		margin: 0 auto
		margin-top: .5em
		font-size: .9em
		line-height: 1.5em
		color: #ff7600
	img
		width: 150px
		height: 300px
		max-height: 120px
		transition: 3s ease
	a
		overflow:hidden
		position: relative
		&:hover
			img
				transform: scale(.9)
.gallery
	.col-sm-4
		background: url('/ezfiles/385/1385/img/2892/gallery-lightbox-bg.png') no-repeat
		background-size: 100%
		height: 250px
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: cneter
		a
			width: 170px
			height: 170px
			margin: 0 auto
			border-radius: 0 18px 0px 0
			overflow: hidden
			transform: rotate(-5deg)
			display: block
			img
				transition: 3s ease
			&:hover
				img
					transform: scale(1.1)
.pae-form
	.banner .mpgtitle
		padding: 0 1em
.module-form .formBS
	border: none
	width: 80%
	min-width: 300px
	display: block
	margin: 0 auto
	.form-group
		padding-bottom: 0
		margin-bottom: 0em
		border: none
		border-bottom: 1px dashed #aaa
		[class*="col-"]:first-child
			border: none
		[class*="col-"]
			border: none
		.col-sm-3
			text-align: right
			background: #eee
			padding-top: .4em
			margin-top: 0em
			height: 2.5em
		.col-sm-9
			padding: 0 1em
		input
			margin-left: 1em
			border-radius: 0
			height: 2em
			margin-top: .3em
			width: 90%
.form-btn .btn
	border-color: $color-1
	color: $color-1
	transition: $transition-2
	position: relative
	overflow: hidden
	z-index: 2
	&::after
		content: ''
		display: block
		width: 100%
		height: 100%
		background: $color-1
		position: absolute
		top: 0
		left: -100%
		transition: $transition-2
		z-index: -1
	&:hover
		color: #fff
		background: transparent
		&::after
			left: 0