.row_0 .col_02
	background: #fff
.row .col:last-child .mcol
	margin-right: 0
// 右側
.section-right
	width: 100%
	background: #fff
	// 搜尋模組
	.msearch
		@extend .lineline
		padding: .5em
		margin-top: 0
		form
			width: 15em
			.input-group-btn
				background: #fff
				color: $color-1
	// 首頁左右長頸鹿
	.row-eq-height.index-row
		display:flex
		.col-sm-3
			padding: 0
			@media screen and (min-width: 768px)
				width: auto
			@media #{$mobile}
				img
					display: block
					margin: 0 auto
		.col-sm-9
			padding: 0
			@media screen and (min-width: 768px)
				width: calc(100% - 248px)
			h2
				position: relative
				z-index: 2
				top: .5em
			h2,span
				font-size: xx-large
				font-weight: normal
				color: #666
				@meida #{$mobile}
				font-size: 28px
			span
				color: $color-1
			img
				margin-top: -4em
				width: 100%
			p
				letter-spacing: .2em
				line-height: 2em
	.row.index-row:last-child
		p
			line-height: 2em
		img
			margin-left: -2em
			@media #{$mobile}
				&:first-child
					width: 160%
					margin: 0 auto 0 -2em
	.row
		padding: 0 1.5em
	

	
	
	