// 換色自訂
// 最新消息
.section-right .msearch,.section-left.section-left .babyimg
	@include slash(5px,$color-2,lighten($color-2, 20%))
.section-left.section-left .leftmenu .top-area
	border-color: lighten($color-2, 0%)
.col.col_01
	background: lighten($color-2, 30%)
.section-left.section-left .leftmenu .top-area ul
	border-color: lighten($color-2, 0%)
.section-left.section-left .leftmenu .top-area ul li::before
	color: $color-2
@media screen and (max-width: 992px) 
	.section-left.section-left 
	border-color: $color-2
	background: lighten($color-2, 30%)
	.left-button
		background: $color-2
		border-color: $color-2
// 教學課程
.section-right .msearch,.section-left.section-left .babyimg
	@include slash(5px,$color-3,lighten($color-3, 20%))
.section-left.section-left .leftmenu .top-area
	border-color: lighten($color-3, 0%)
.col.col_01
	background: lighten($color-3, 48%)
.section-left.section-left .leftmenu .top-area ul
	border-color: lighten($color-3, 0%)
.section-left.section-left .leftmenu .top-area ul li::before
	color: $color-3
@media screen and (max-width: 992px) 
	.section-left.section-left 
	border-color: $color-3
	background: lighten($color-3, 43%)
	.left-button
		background: $color-3
		border-color: $color-3
// // 環境設備
.section-right .msearch,.section-left.section-left .babyimg
	@include slash(5px,$color-4,lighten($color-4, 20%))
.section-left.section-left .leftmenu .top-area
	border-color: lighten($color-4, 0%)
.col.col_01
	background: lighten($color-4, 38%)
.section-left.section-left .leftmenu .top-area ul
	border-color: lighten($color-4, 0%)
.section-left.section-left .leftmenu .top-area ul li::before
	color: $color-4
@media screen and (max-width: 992px) 
	.section-left.section-left 
	border-color: $color-4
	background: lighten($color-4, 43%)
	.left-button
		background: $color-4
		border-color: $color-4
